.root {
    -fx-font-family: 'Digital Counter 7';
    -fx-font-size: 14pt;
    -fx-background-color: linear-gradient(#B0C1D4, #66798F);
}

.text-input {
    -fx-background-color:#BAE0BD;
    -fx-text-inner-color:#5E9C76;
}

.button {
    -fx-background-color: #FFFFFF;
    -fx-font-color: #000000;
}

.button-operator {
    -fx-background-color: #FFEEA3;
}

